# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*~

# Python
__pycache__/
*.pyc

# Logs
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files (optional)
.env
.venv
venv/

# Distribution / packaging
build/
dist/
*.egg-info/ 